<!DOCTYPE html>
<html>
<head>
<title> Log in </title>
<link rel="stylesheet" href="/css/style4.css" />

</head>

<body>
    <div id = "center1">
        <br/>
        <br/>

 <form method="post" action="/users/login">
 
<div>
    
    <input type="text" placeholder=" Enter Username" name="username">
</div>
<div>
    
    <input type="password" placeholder="Enter Password" name="password">
</div>
<button type="submit">Submit</button>
</form>
    </div>

  
    
</body>
</html>