<!DOCTYPE html>
<html>

<head>
<title> book </title>
<link rel="stylesheet" href="/css/style2.css" />
</head>

<body>

<div id= "header">

	
</div>
<div id="center1">
	<div>
		<h2 style=" text-align:center"> Select the preferred option below </h2>
				<div id="game">
                       <a id="a_1" href="/events/events"> Create Event </a>
                       <div id="text_1">Creates an event</div><br/>
                       <a id="a_1" href="/events/modifyevents"> Update Event </a>
				        <div id="text_1"> Updates events you created </div><br/>
                       <a id="a_1" href="/events/viewEvents"> View Event </a>
                       <div id="text_1"> View all the events created by all users </div><br/>
                       <a id="a_1" href="/events/signupEvents"> Register for an Event </a>
                       <div id="text_1"> Signup for an event </div> <br/>
                       <a id="a_1" href="/events/deleteevents"> Delete Event </a>
                       <div id="text_1"> Delete an event you created </div><br/>
				</div>
	</div>
	<div>
	
	
	</div>
</div>



<div id="footer">
&copy; 2017 Web Programming Project
</div>		
</body>		

</html>